
body {
    background-color: red;
    font-family: DM Sans;
}

nav {
    width: 296px; 
    height: 110%; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border-bottom-right-radius: 24px; 
    border-top-right-radius: 24px;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    padding-top: 3px;
}

.nav {
    width: 100%; 
    padding-left: 16px; 
    justify-content: flex-start; 
    gap: 32px; 
    display: inline-flex;
    flex-direction: column;
}

.nav div {
    justify-content: flex-start; 
    /* align-items: center;  */
    gap: 32px; 
    display: inline-flex;
    margin-top: 20px;
}

.lijn {
    width: 80%; 
    height: 100%; 
    border: 1px #D9D9D9 solid;
}

.logo img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aanvraag, .informatie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 8px; 
    display: inline-flex;
    padding-left: 20px;
    display: none !important;
}

.zichtbaar {
    display: flex !important; /* of display: flex, of display: inline-block, afhankelijk van je layout behoeften */
}

